extend layout

block script2
    
    - var pageNo = obj.page

block content
    .content-inner
        header.page-header
            .container-fluid
                h2(style='font-family: Kanit, sans-serif').no-margin-bottom Line
                //- p= obj.CB_datas[0].nameOfSub[0].sub_name