extend layout

block script2
    //- //Calendar
    link(href='/javascripts/fullcalendar/core/main.css' rel='stylesheet')
    link(href='/javascripts/fullcalendar/daygrid/main.css' rel='stylesheet')
    link(href='/javascripts/fullcalendar/interaction/main.css' rel='stylesheet')
    link(href='/javascripts/fullcalendar/bootstrap/main.css' rel='stylesheet')
    link(href='/javascripts/fullcalendar/list/main.css' rel='stylesheet')
    link(href='/javascripts/fullcalendar/timegrid/main.css' rel='stylesheet')
    link(href='/javascripts/fullcalendar/timeline/main.css' rel='stylesheet')
    link(href='/javascripts/fullcalendar/resource-timeline/main.css' rel='stylesheet')
    - var pageNo = obj.page

block script
    //- //calendar
    script(src='/javascripts/fullcalendar/core/main.js')
    script(src='/javascripts/fullcalendar/daygrid/main.js')
    script(src='/javascripts/fullcalendar/bootstrap/main.js')
    script(src='/javascripts/fullcalendar/interaction/main.js')
    script(src='/javascripts/fullcalendar/timegrid/main.js')
    script(src='/javascripts/fullcalendar/list/main.js')
    script(src='/javascripts/fullcalendar/moment/main.js')
    script(src='/javascripts/fullcalendar/moment-timezone/main.js')
    script(src='/javascripts/fullcalendar/timeline/main.js')
    script(src='/javascripts/fullcalendar/resource-common/main.js')
    script(src='/javascripts/fullcalendar/resource-timeline/main.js')

    script(src='/javascripts/mycalendarEdit.js')

block content
    .content-inner
        header.page-header
            .container-fluid
                h2(style='font-family: Kanit, sans-serif').no-margin-bottom จัดการปฏิทิน
        section.dashboard-counts.no-padding-bottom
            .container-fluid
                .row.bg-white.has-shadow
                    .col-xl-12.col-sm-12
                        #mycalendarEdit

        footer.main-footer
            .container-fluid
                .row
                    .col-sm-6
                        p(style='font-family: Kanit, sans-serif') แผนกบำรุงรักษาสถานีไฟฟ้า3  กองบำรุงรักษาสถานีไฟฟ้าแรงสูง &copy; 2020
                    .col-sm-6.text-right
                        p
                            | Design by 
                            a.external(href="#") Tawat Rattana