extend layout


block script2
  //- //Calendar
  link(href='/javascripts/fullcalendar/core/main.css' rel='stylesheet')
  link(href='/javascripts/fullcalendar/daygrid/main.css' rel='stylesheet')
  link(href='/javascripts/fullcalendar/interaction/main.css' rel='stylesheet')
  link(href='/javascripts/fullcalendar/bootstrap/main.css' rel='stylesheet')
  link(href='/javascripts/fullcalendar/list/main.css' rel='stylesheet')
  link(href='/javascripts/fullcalendar/timegrid/main.css' rel='stylesheet')
  link(href='/javascripts/fullcalendar/timeline/main.css' rel='stylesheet')
  link(href='/javascripts/fullcalendar/resource-timeline/main.css' rel='stylesheet')
  - var pageNo = obj.page

block script
  //- //calendar
  script(src='/javascripts/fullcalendar/core/main.js')
  script(src='/javascripts/fullcalendar/daygrid/main.js')
  script(src='/javascripts/fullcalendar/bootstrap/main.js')
  script(src='/javascripts/fullcalendar/interaction/main.js')
  script(src='/javascripts/fullcalendar/timegrid/main.js')
  script(src='/javascripts/fullcalendar/list/main.js')
  script(src='/javascripts/fullcalendar/moment/main.js')
  script(src='/javascripts/fullcalendar/moment-timezone/main.js')
  script(src='/javascripts/fullcalendar/timeline/main.js')
  script(src='/javascripts/fullcalendar/resource-common/main.js')
  script(src='/javascripts/fullcalendar/resource-timeline/main.js')
  
  script(src='/javascripts/mycalendar.js')
  
  

block content
 
  .content-inner
    header.page-header
      .container-fluid
        h2(style='font-family: Kanit, sans-serif').no-margin-bottom ปฏิทินงานประจำเดือน
  
    section.dashboard-counts.no-padding-bottom
      .container-fluid
        .row.bg-white.has-shadow
          //-calendar
          .col-xl-9.col-sm-12
            #mycalendar
          //- Item
          .col-xl-3.col-sm-12
            .item.d-flex.align-items-center
              .icon.bg-yellow
                i(style="font-size:16px").fas.fa-wrench
              .title
                span
                  | จำนวน
                  br
                  | ใบแจ้งซ่อม
              .number
                strong 4

            .item.d-flex.align-items-center
              .icon.bg-red
                i(style="font-size:16px").fas.fa-exclamation-circle
              .title
                span
                  | จำนวน
                  br
                  | Outage
                //- .progress
                //-   .progress-bar.bg-violet(role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100")
              .number
                strong 1

            .item.d-flex.align-items-center
              .icon.bg-green
                i(style="font-size:16px").fas.fa-paw
              .title
                span
                  | สถิติ
                  br
                  | ดักจับสัตว์
                //- .progress
                //-   .progress-bar.bg-violet(role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100")
              .number
                strong 1

            br
            .item.d-flex.align-items-left
              .title
                span(style="font-family : Kanit, sans-serif ; color:blue ; font-weight:bold")
                  | เปอร์เซ็นต์งานก่อสร้าง

            .item.d-flex.align-items-left.no-padding-top
              .title
                span(style='font-family: Kanit, sans-serif')
                  | Control room HY2
                .progress
                  .progress-bar.bg-orange(role="progressbar" style="width: 50%; height: 4px;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100")
                .number
                  strong 50%

            .item.d-flex.align-items-left.no-padding-top
              .title
                span(style='font-family: Kanit, sans-serif')
                  | งานรื้อ สฟ.หาดใหญ่1
                .progress
                  .progress-bar.bg-orange(role="progressbar" style="width: 80%; height: 4px;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100")
                .number
                  strong 80%
    


    footer.main-footer
      .container-fluid
        .row
          .col-sm-6
            p(style='font-family: Kanit, sans-serif') แผนกบำรุงรักษาสถานีไฟฟ้า3  กองบำรุงรักษาสถานีไฟฟ้าแรงสูง &copy; 2020
          .col-sm-6.text-right
            p
              | Design by 
              a.external(href="#") Tawat Rattana