extend layout

block script2
    - var pageNo = obj.page

block content
    
    .content-inner
        header.page-header
            .container-fluid
                h2(style='font-family: Kanit, sans-serif').no-margin-bottom รายงาน Station Service
                //- p= pageNo

        //- Breadcrumb
        .breadcrumb-holder.container-fluid
            ul.breadcrumb
                li.breadcrumb-item
                    a(href="/station_service") รายงาน Station Service
                li.breadcrumb-item= obj.year
                - var month_list = ["ม.ค.","ก.พ.","มี.ค.","เม.ย.","พ.ค.","มิ.ย.","ก.ค.","ส.ค.","ก.ย.","ต.ค.","พ.ย.","ธ.ค."]
                li.breadcrumb-item.active= month_list[obj.month-1]

        //- content
        section.dashboard-counts.no-padding-bottom
            .container-fluid
                .row.bg-white.has-shadow
                     div(style="text-align: center").col-12
                        .table-responsive
                            table.table.table-striped
                                    thead.text-center
                                        tr
                                            th(colspan="10" style="font-size:16px ;font-family: Kanit, sans-serif; padding-bottom:5px; border-top:none").text-primary= 'รายงาน Station Service ประจำเดือน '+month_list[obj.month-1] + ' ปี พ.ศ. ' + obj.year
                                        tr(style="font-size:12px")
                                            th(scope="col") Meter
                                            th(scope="col") เดือนนี้
                                            th(scope="col") เดือนก่อน
                                            th(scope="col") ผลต่าง
                                            th(scope="col") ตัวคูณ
                                            th(scope="col") kWH รวม
                                            th(scope="col") kWH บ้านพัก
                                            th(scope="col") kWH บสส.
                                            th(scope="col") kWH ผู้รับเหมา
                                            th(scope="col") kWH อื่นๆ
                                            th(scope="col") ADD/EDIT
                                    tbody(style="font-size:12px").text-center
                                        each meter_data in obj.meter_datas
                                            tr
                                                th(scope="row")= meter_data.name
                                                each meterMonth_data in obj.meterMonth_datas
                                                    if meter_data._id == meterMonth_data.meter_id
                                                        td= meterMonth_data.meter_value

                                        


                  

        footer.main-footer
            .container-fluid
                .row
                    .col-lg-6.col-sm-12
                        p(style='font-family: Kanit, sans-serif') แผนกบำรุงรักษาสถานีไฟฟ้า3  กองบำรุงรักษาสถานีไฟฟ้าแรงสูง &copy; 2020
                    .col-lg-6.col-sm-6.text-right
                        p
                            | Design by 
                            a.external(href="#") Tawat Rattana